.about__container {
    display: flex;
    align-items: center;
}

.about_box {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.75rem;
    text-align: center;
    padding: 1rem 1.25rem;
}

.about-icon {
    font-size: 1.5rem;
    color: var(--title-color);
    margin-bottom: var(--mb-0-5);
}

.about_title {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

.about_subtitle {
    font-size: var(--tiny-font-size);
}



@media screen and (max-width: 992px) {
    .about_box {
        padding: 0.75rem 0.5rem;
    }

    .about__data {
        text-align: center;
    }
}

@media screen and (max-width: 576px) {
    .about__description {
        padding: 0;
    }
}